.form {
  border: 1px solid #424242;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form button {
  background-color: rgba(0, 50, 141, 0.7);
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 15px 20px;
  border: transparent;
}
.form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form input {
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px;
}
.formGroup {
  flex: 1;
  position: relative;
}

.inputSection {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.inputSection input {
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
}
.arrowBettwen {
  line-height: 50px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
}
.formGroup input {
  width: 100%;
}
.currencyList {
  position: absolute;
  max-height: 150px;
  overflow-y: scroll;
  background: #0a0a0a;
  width: fit-content;
  width: 100%;
  z-index: 1;
}

.currencyList p {
  border-bottom: 1px solid #363535;
  color: white;
  padding: 15px;
  cursor: pointer;
}
.currencyList p:hover {
  background: #363535;
}
