@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Poppins", sans-serif;
}

.outPut {
  border: 1px solid #402a2a;
  width: 85%;
  padding: 1rem;
}
.outPut p.RecievedAmount {
  font-size: 28px;
  color: white;
  font-weight: 600;
}
.rate {
  font-size: 15px;
  color: #85a796;
  margin-top: -2px;
}

.leftSide {
  width: 30%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.rightSide {
  flex: 1;
}
.leftSide img {
  width: 40%;
}
.textLarge {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.App {
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(19, 39, 42, 1) 48%,
    rgba(0, 0, 0, 1) 100%
  );
  gap: 5rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 3rem;
}
